* :root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    color: var(--accent1-color);
    border-bottom: 3px solid var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    width: 850px;
    margin: 0 auto;
    background-color: #ffffff;
}

header,
footer,
main {
    width: 100%;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav a:hover {
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: rgba(38, 70, 83, 0.75);
    color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}